<h1>Dashboard</h1>
<h2>Welcome {{name}}</h2>
<p>Here are your Blogs</p>
{{#if posts}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}} 
                <tr>
                    <td><a href="/posts/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY,h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/posts/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/posts/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button> 
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
   <p>You have not created any posts.</p>
{{/if}}
 
 <p class="lead">
    <a class="btn btn-danger btn-lg" href="/posts/add" role="button">Add Post</a>
</p>